*.py[cod]
*.egg-info
*.eggs
.ipynb_checkpoints

build
dist
.cache
__pycache__

Pipfile.lock

htmlcov
.coverage
coverage.xml
.pytest_cache
*,cover

docs/_build
docs/src/_build

.venv

# ide
.idea
.eclipse
.vscode

src/pltfm_mgr_rpc/
thrift/*.thrift
