{{ ansible_managed | comment }}

[Unit]
Description=SKA P4 Switch Prometheus Exporter
After=network-online.target

[Service]
Type=exec
User={{ ansible_user }}
Group={{ ansible_user }}
ExecStart={{ p4_switch_exporter_install_dir }}/bin/python {{ p4_switch_exporter_install_dir }}/bin/ska-p4-switch-exporter
Environment=SKA_P4_SWITCH_EXPORTER_SDE_INSTALL_PATH={{ p4_switch_exporter_sde_path }}/install
{% if p4_switch_exporter_log_level %}
Environment=SKA_P4_SWITCH_EXPORTER_LOG_LEVEL={{ p4_switch_exporter_log_level }}
{% endif %}
{% if p4_switch_exporter_rpc_host %}
Environment=SKA_P4_SWITCH_EXPORTER_RPC_HOST={{ p4_switch_exporter_rpc_host }}
{% endif %}
{% if p4_switch_exporter_rpc_port %}
Environment=SKA_P4_SWITCH_EXPORTER_RPC_PORT={{ p4_switch_exporter_rpc_port }}
{% endif %}
{% if p4_switch_exporter_web_port %}
Environment=SKA_P4_SWITCH_EXPORTER_WEB_PORT={{ p4_switch_exporter_web_port }}
{% endif %}

SyslogIdentifier=ska-p4-switch-exporter
Restart=always
RestartSec=1
StartLimitInterval=0

NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
MemoryDenyWriteExecute=yes
LockPersonality=yes

[Install]
WantedBy=multi-user.target
